/* Rules for mobile devices in portrait orientation */

@media only screen and (max-width: 655px) and (orientation: portrait)
{
   .menu_button               {visibility:     visible            !important}
   .landing_title             {font-size:      38px               !important}
   .landing_title             {letter-spacing: 2px                !important}
   .landing_sub_title         {font-size:      26px               !important}
   .landing_exhibition_button {font-size:      14px               !important}
   .landing_enter_button      {font-size:      16px               !important}
   .title                     {font-size:      38px               !important}
   .title                     {letter-spacing: 2px                !important}
   .title                     {padding-bottom: 15px               !important}
   .header_links              {display:        none               !important}
   .nav_button                {height:         24px               !important}
   .nav_button                {width:          14px               !important}
   .nav_left_shape            {transform:      scale(80%)         !important}
   .nav_right_shape           {transform:      scale(80%)         !important}
   .sub_title                 {font-size:      25px               !important}
   .sub_title                 {padding-bottom: 15px               !important}
   .text                      {padding:        0px 25px 15px 25px !important}
   .text_image                {width:          100%               !important}
   .text_image                {margin:         10px 0px 25px 0px  !important}
   .art_gallery               {column-count:   1                  !important}
   .art_image_link_container  {margin-top:     0px                !important}
   #gallery_header            {display:        block              !important}
   #one_column_1              {display:        block              !important}
   #two_column_1              {display:        none               !important}
   #two_column_2              {display:        none               !important}
   #three_column_1            {display:        none               !important}
   #three_column_2            {display:        none               !important}
   #three_column_3            {display:        none               !important}
}

/* Rules for mobile devices in landscape orientation */

@media only screen and (max-width: 767px) and (orientation: landscape)
{
   .landing_container         {gap:            10px                !important}
   .landing_container         {padding-top:    5vh                 !important}
   .menu_button               {visibility:     visible             !important}
   .landing_title             {font-size:      38px                !important}
   .landing_title             {letter-spacing: 2px                 !important}
   .landing_sub_title         {font-size:      26px                !important}
   .landing_exhibition_button {font-size:      14px                !important}
   .landing_enter_button      {font-size:      16px                !important}
   .title                     {font-size:      38px                !important}
   .title                     {letter-spacing: 2px                 !important}
   .title                     {padding-bottom: 15px                !important}
   .header_links              {display:        none                !important}
   .nav_button                {height:         24px                !important}
   .nav_button                {width:          14px                !important}
   .nav_left_shape            {transform:      scale(80%)          !important}
   .nav_right_shape           {transform:      scale(80%)          !important}
   .sub_title                 {font-size:      25px                !important}
   .sub_title                 {padding-bottom: 15px                !important}
   .text                      {padding:        15px 10px 15px 10px !important}
   .text_image                {width:          300px               !important}
   .text_image                {margin:         10px 0px 25px 25px  !important}
   .art_gallery               {column-count:   2                   !important}
   .art_gallery               {column-gap:     35px                !important}
   .art_image_link_container  {margin-top:     15px                !important}
   .art_image_link_container  {margin-bottom:  15px                !important}
   #gallery_header            {display:        block               !important}
   #one_column_1              {display:        none                !important}
   #two_column_1              {display:        block               !important}
   #two_column_2              {display:        block               !important}
   #three_column_1            {display:        none                !important}
   #three_column_2            {display:        none                !important}
   #three_column_3            {display:        none                !important}
}

/* Rules for iPads in portrait orientation */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
{
   .landing_title            {font-size:      46px                !important}
   .landing_title            {letter-spacing: 2px                 !important}
   .landing_enter_button     {font-size:      16px                !important}
   .title                    {font-size:      46px                !important}
   .title                    {letter-spacing: 2px                 !important}
   .sub_title                {padding-bottom: 15px                !important}
   .text                     {padding:        25px 20px 10px 20px !important}
   .text_image               {width:          350px               !important}
   .text_image               {margin:         10px 0px 25px 25px  !important}
   .art_gallery              {column-count:   2                   !important}
   .art_gallery              {column-gap:     35px                !important}
   .art_image_link_container {margin-top:     15px                !important}
   .art_image_link_container {margin-bottom:  15px                !important}
   #one_column_1             {display:        none                !important}
   #two_column_1             {display:        block               !important}
   #two_column_2             {display:        block               !important}
   #three_column_1           {display:        none                !important}
   #three_column_2           {display:        none                !important}
   #three_column_3           {display:        none                !important}
}

/* Rules for iPads and tablets in landscape orientation */

@media only screen and (min-width: 768px) and (orientation: landscape)
{
   .text_image               {width:          400px !important}
   .art_gallery              {column-count:   3     !important}
   .art_gallery              {column-gap:     40px  !important}
   .art_image_link_container {margin-top:     20px  !important}
   .art_image_link_container {margin-bottom:  20px  !important}
   #one_column_1             {display:        none  !important}
   #two_column_1             {display:        none  !important}
   #two_column_2             {display:        none  !important}
   #three_column_1           {display:        block !important}
   #three_column_2           {display:        block !important}
   #three_column_3           {display:        block !important}
}

/* Replace vh with dvh on devices that support dvh */

@supports (height: 100dvh)
{
   .image_container_one_column {height: 100dvh !important}
   .image_container_two_column {height: 100dvh !important}
}

@keyframes fade-in
{
   from {opacity: 0; visibility: hidden }
   to   {opacity: 1; visibility: visible}
}

.fade_in
{
   visibility: hidden;
   animation: fade-in 1.0s forwards;
}

.landing_body
{
   background-image: url('landing_background.jpg');
   background-size: cover;
   background-position: center;
   height: 100vh;
   color: white;
   border: 0px;
   margin: 0px;
   padding: 0px;
}
.landing_container
{
   display: grid;
   grid-template-columns: 1fr;
   align-items: center;
   gap: 35px;
   padding-top: 20vh;
}

.landing_title
{
   font-family: Arial, sans-serif;
   font-size: 52px;
   color: black;
   text-align: center;
   letter-spacing: 4px;
   border: 0px;
   margin: 0px 10px 0px 10px;
   padding: 0px;
}

.landing_sub_title
{
   font-family: Arial, sans-serif;
   font-size: 34px;
   color: black;
   text-align: center;
   letter-spacing: 4px;
   border: 0px;
   margin: 0px 10px 0px 10px;
   padding: 0px;
}

.landing_exhibition_button
{
   cursor: pointer;
   font-family: Arial, sans-serif;
   font-size: 16px;
   color: white;
   letter-spacing: 2px;
   line-height: 26px;
   background-color: rgba(0, 0, 0, 50%);
   border-radius: 10px;
   border: 0px;
   margin: 10px auto 10px auto;
   padding: 8px;
}

.landing_enter_button
{
   cursor: pointer;
   font-family: Arial, sans-serif;
   font-size: 18px;
   color: white;
   letter-spacing: 4px;
   background-color: rgba(0, 0, 0, 50%);
   border-radius: 25px;
   border: 0px;
   margin: 10px auto 10px auto;
   padding: 8px;
}

.landing_exhibition_button:hover
{
   background-color: rgba(0, 0, 0, 75%);
}

.landing_enter_button:hover
{
   background-color: rgba(0, 0, 0, 75%);
}

.body
{
   background-color: white;
   color: black;
   margin: 0px;
   padding: 0px;
}

.title
{
   font-family: Arial, sans-serif;
   font-size: 52px;
   color: black;
   text-align: center;
   letter-spacing: 4px;
   padding: 0px 25px 0px 25px;
}

.sub_title
{
   font-family: Arial, sans-serif;
   font-size: 34px;
   color: darkslategray;
   text-align: left;
   white-space: nowrap;
   padding-bottom: 40px;
   display: inline-block;
}

.header_links
{
   display: flex;
   justify-content: space-evenly;
   white-space: nowrap;
   width: 95%;
   max-width: 1200px;
   margin: 0px auto;
   padding: 25px 0px 25px 0px;
}

.header_link
{
   font-family: Arial, sans-serif;
   font-size: 18px;
   color: darkslategray;
   letter-spacing: 2px;
   text-decoration: none;
   margin: 0px;
}

a.header_link:hover
{
   font-weight: bold;
   color: #BE0000;
}

.clicked_header_link
{
   font-family: Arial, sans-serif;
   font-size: 18px;
   font-weight: bold;
   color: #BE0000;
   letter-spacing: 2px;
   text-decoration: none;
   margin: 0px;
}

.table
{
   text-align: left;
   border-spacing: 0px;
   margin: 0px auto;
   padding: 0px;
   width: 95%;
}

.text
{
   font-family: Arial, sans-serif;
   font-size: 16px; 
   color: darkslategray;
   vertical-align: top;
   text-align: left;
   line-height: 30px;
   padding: 25px 50px 25px 50px;
}

.text_image
{
   width: 450px;
   margin: 10px 0px 25px 50px;
   float: right;
}

.general_link
{
   color: #BE0000;
   text-decoration: none;
}

.copyright
{
   font-family: Arial, sans-serif;
   font-size: 12px;
   color: darkslategray;
   text-align: center;
   line-height: 20px;
   padding: 25px;
}

.border_radius
{
   border-radius: 0px;
}

.menu_button
{
   cursor: pointer;
   font-size: 30px;
   padding-left: 5px;
   visibility: hidden;
}

.menu
{
   position: fixed;
   top: 0px;
   left: 0px;
   background-color: white;
   border-radius: 0px 0px 0px 0px;
   margin: 0px;
   padding: 50px 0px 15px 0px;
   width: 0px;
   max-height: 75vh;
   overflow-y: auto;
   overflow-x: hidden;
   transition: 0.5s ease;
   z-index: 1;
}

.menu a
{
   font-family: Arial, sans-serif;
   font-size: 16px;
   color: darkslategray;
   letter-spacing: 2px;
   text-decoration: none;
   white-space: nowrap;
   padding: 10px;
   display: block;
}

.menu a:hover
{
   font-weight: bold;
   color: #BE0000;
}

.menu .close_button
{
   position: absolute;
   cursor: pointer;
   top: 0px;
   right: 10px;
   font-size: 36px;
   border: 0px;
   margin: 0px;
   padding: 0px;
}

.art_gallery
{
   column-count: 3;
   column-gap: 50px;
   text-align: center;
   margin: 0px auto;
   width: 95%;
}

.art_gallery_column
{
   column-count: 1;
   break-inside: avoid;
   border: 0px;
   margin: 0px;
   padding: 0px;
   display: none;
   transform: scale(1.0);
}

.art_image
{
   border: 0px;
   margin: 0px;
   padding: 0px;
   width: 100%;
   height: auto;
   display: block;
}

.art_image_link
{
   border: 0px;
   margin: 0px;
   padding: 0px;
   display: inline-block;
}

.art_image_link_container
{
   position: relative;
   border: 0px;
   margin: 25px 0px 25px 0px;
   padding: 0px;
   display: inline-block;
   transition: transform .5s ease;
}

@media (hover: hover)
{
   /* The following should only be applied if devices support hovering */

   .art_image_link_container:hover
   {
      transform: scale(1.03);
      transform-origin: center center;
      will-change: transform;
   }
}

.art_caption
{
   position: relative;
   background-color: white;
   font-family: Arial, sans-serif;
   font-size: 16px;
   color: darkslategray;
   text-align: left;
   justify-self: start;
   align-self: start;
   height: 100%;
   margin: 0px;
   padding: 0px 25px 10px 10px;
   overflow-y: auto;
}

.art_title
{
   font-weight: bold;
   font-size: 18px;
   padding-top: 5px;
   display: block;
}

.art_dimensions
{
   font-style: italic;
   padding-top: 10px;
   display: block;
}

.art_paragraph
{
   padding-top: 10px;
   padding-bottom: 10px;
   display: block;
}

.back_button
{
   cursor: pointer;
   position: fixed;
   top: 5px;
   right: 5px;
   font-family: Arial, sans-serif;
   font-size: 20px;
   font-weight: bold;
   color: black;
   background-color: rgba(255, 255, 255, 75%);
   border-radius: 4px;
   border-width: 0px;
   padding: 0px 5px 0px 5px;
   z-index: 1;
}

.back_button:hover
{
   background-color: rgba(255, 255, 255, 50%);
}

.nav_button
{
   cursor: pointer;
   position: fixed;
   top: 50%;
   transform: translateY(-50%);
   font-weight: bold;
   display: grid;
   place-items: center;
   height: 52px;
   width: 18px;
   background-color: rgba(255, 255, 255, 75%);
   border-radius: 4px;
   border: 0px;
   margin: 0px;
   padding: 0px;
   z-index: 1;
}

.nav_button:hover
{
   background-color: rgba(255, 255, 255, 50%);
}

.nav_left_offset
{
   left: 5px;
}

.nav_right_offset
{
   right: 5px;
}

.nav_left_shape
{
   width: 0;
   height: 0;
   border-top: 6px solid transparent;
   border-bottom: 6px solid transparent;
   border-right: 10.5px solid black;
   margin: 0px auto;
   transform: scale(1);
}

.nav_right_shape
{
   width: 0;
   height: 0;
   border-top: 6px solid transparent;
   border-bottom: 6px solid transparent;
   border-left: 10.5px solid black;
   margin: 0px auto;
   transform: scale(1);
}

.image_container_one_column
{
   background-color: white;
   width: 100%;
   height: 100vh;
   display: block;
   overflow-y: auto;
}

.image_container_two_column
{
   background-color: black;
   display: grid;
   grid-template-columns: auto auto;
   justify-content: center;
   gap: 0px;
   height: 100vh;
   margin: 0px auto;
   overflow-y: hidden;
}

.sold_tag
{
   position: absolute;
   top: 0px;
   left: 0px;
   font-family: Arial, sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: white;
   letter-spacing: 2px;
   background-color: rgba(255, 0, 0, 75%);
   height: 16px;
   width: 50px;
   display: grid;
   align-items: center;
   z-index: 1;
}

.sold_text
{
   color: red;
   font-weight: bold;
   font-style: italic;
}